.checkedAddClassHighLight {
	background: #80ffcc !important;
}
.uncheckedAddClassHighLight {
	background: #ffb84d !important;
}
.checkedAddClassHighLight:hover {
	background: #4dffb8 !important;
}
.uncheckedAddClassHighLight:hover {
	background: #ffa31a !important;
}

